/**
 * SETTINGS
 */

.settings-menu {
  position: absolute;
  z-index: 101;
  inset-block-start: calc(var(--header-height) + 8px);
  inset-inline-end: 12px;
  display: none;
  flex-direction: column;
  gap: 12px;
  overflow-block: auto;
  overflow-inline: hidden;
  background: #fff;
  border: 1px solid var(--border-color-001);
  border-radius: var(--border-radius-001);
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.15);
  scrollbar-color: #d1d5db #f8f9fa;
  scrollbar-width: thin;
  max-block-size: calc(100vb - var(--header-height) - 8px - 16px);
  inline-size: 350px;
  padding: 16px;
  transition: var(--transition-long);

  :where(h1, h2, h3, h4, ul, li) {
    color: var(--color-grayscale-050);
    margin: 0;
  }

  :where(ul) {
    list-style-type: none;
    margin: 0;
  }

  :where(section) {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .setting-menu__title {
    display: none;
    font-size: 1.25rem;
  }

  .section-title {
    font-size: 1rem;
  }

  .list-title {
    grid-column: 1 / -1;
    border-block-end: 1px solid var(--border-color-001);
    padding: 4px 8px;
    font-size: 0.9375rem;
  }

  .hotkeys-list {
    display: grid;
    grid-template-columns: max-content 1fr;
    border: 1px solid var(--border-color-001);
    border-radius: var(--border-radius-001);
  }

  .hotkeys-list__item {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;

    span {
      display: flex;
      align-items: center;
      border: 0 solid var(--border-color-001);
      border-block-end-width: 1px;
      padding: 4px 8px;

      &:first-child {
        border-inline-end-width: 1px;
      }
    }

    &:last-child {
      span {
        border-block-end-width: 0;
      }
    }
  }

  .hotkey-key {
    background-color: var(--color-grayscale-098);
    color: var(--color-grayscale-065);
    font-family: Monaco, Menlo, Consolas, monospace;
    font-size: 0.75rem;
  }

  .hotkey-label {
    color: var(--color-grayscale-050);
    font-size: 0.8125rem;
  }

  &.active {
    display: flex;
  }
}
